@import "mediaqueries.scss";

//
// Global styling
//
$backgroundColor: #756f69;
$fontColor: #ddd;
$darkBackgroundColor: #333;
$lightFontColor: #FEFEFE;
$accentuationBgColor: #ed8c8c;
$accentuationFontColor: #FEFEFE;
$experimentBgColor: #f6cb47;

$headerHeight: 2.1em;
$headerHeightLarge640: 4.5em;
$headerHeightLarge768: 5.4em;

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular.woff2?#iefix') format('woff2'),
         url('../fonts/alexbrush-regular.woff') format('woff'),
         url('../fonts/alexbrush-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Lato", arial, sans-serif;
    background: #dbd0b0;
    color: #333333;
    margin: 0;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 18px;
    @include forLargeScreens(700) {
        font-size: 21px;
    }
    //font-weight: 300;
}

ul {
    list-style: square;
    padding: 0 1em;
    list-style-position: inside;
}

a {
    color: inherit;
    text-decoration: underline;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#svg-sprites-symbols {
    display: none;
}

.icon-links {
    fill: #edc711;
    width: 22px;
    height: 21px
}
.icon-menubtn {
    fill: #c1b79a;
}
.icon-links:hover, .icon-menubtn:hover {
    fill: #5c5c5c;
    cursor: pointer;
}
.icon-purpose {
    fill: #333333;
}
.icon-logo {
    fill: #edc711;
}

select {
    background: #333;
    border: 1px solid #c1b79a;
    height: 2em;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
    color: #DDDDDD;
}

//
// Banner
//
.masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 99999999999;
    background: $darkBackgroundColor;
    border-bottom: 1px solid #c1b79a;
    .logo {
        cursor: default;
        font-family: "alex_brushregular";
        font-size: 1.8em;
        @include forLargeScreens(700) {
            font-size: 2em;
        }
        @include forLargeScreens(768) {
            font-size: 2.2em;
        }
        text-align: left;
        padding: 0 0.2em;
        color: $lightFontColor;
        display: inline-block; 
    }
    #logo-umbrella {
        display: inline-block;  
        width: 1em;
        height: 1em;
        vertical-align: sub;
    }
    .seb {
        color: #edc712;
    }
    .menu-button {
        background: none;
        height: 3em;
        width: 3em;
        cursor: pointer;
        border: none;
        outline: none;
        margin-left: 0.5em;
        @include forLargeScreens(700) {
            visibility: hidden;
            width: 0;
            height: 0;
        }
        #menu-button-svg-open {
            visibility: visible;
            width: 100%;
            height: 100%;
        }
        #menu-button-svg-close {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
    .menu-button-open {
        #menu-button-svg-open {
            visibility: hidden;
            width: 0;
            height: 0;
        }
        #menu-button-svg-close {
            visibility: visible;
            width: 100%;
            height: 100%;
        }
    }
    nav {
        z-index: 99999999999;
        position: fixed;
        top: 2.4em;
        bottom: 0;
        width: 100%;
        background: rgba( #333, 0.95 );
        visibility: hidden;
        padding-top: 5px;
        @include forLargeScreens(700) {
            float: right;
            position: unset;
            top: unset;
            bottom: unset;
            width: unset;
            visibility: visible;
            padding-top: 0;
        }
    }      
    nav.open {
        visibility: visible;
        animation-duration: 300ms;
        animation-name: slidefromleft;
        animation-iteration-count: 1;
        animation-direction: normal;
    }
    @keyframes slidefromleft {
        from {
          left: -100%;
        }
        to {
          left: 0;
        }
      }
    nav ul {
        display: inline-flex;
        list-style: none;
        flex-direction: column;
        @include forLargeScreens(700) {
            flex-direction: row;
        }
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        li {
            margin: 0;
            padding: 0;
        }
        li a.menu-nav-link {
            text-decoration: none;
            margin: 0.25em;            
            padding: 0.25em 0.5em;
            color: #c1b79a;
            display: inline-block;
            width: 93%;
            box-sizing: border-box;            
        }
        li a.menu-nav-link:hover {
            text-decoration: underline;       
        }
        li a.menu-nav-link-current {
            color: #ddd;
        }
        .menu-nav-link-github,
        .menu-nav-link-linkedin,
        .menu-nav-link-github:hover,
        .menu-nav-link-linkedin:hover {
            background: none;
        }        
    }
}

//
// Main container
//
.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.anchor {
    position: relative;
    top: -2.4em;
    @include forLargeScreens(700) {
        top: -2.8em;
    }
    @include forLargeScreens(768) {
        top: -3em;
    }
}

.page {
    border-bottom: 1px solid #c1b79a;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 2em 1em;
    // @include forLargeScreens(700) {
    //     padding: 3em 1em 3em 1em;
    // }
    .anchor {
        position: absolute;
        top: $headerHeight;
        left: 0;
    }
}

//
// Purpose article
//
$purposeSVGSize: 4em;
$purposeSVGSizeLarge: 6em;

.purpose {
    &-container {        
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        width: 100%;
        box-sizing: border-box;
        max-width: 800px;
        figure {
            width: $purposeSVGSize;
            height: $purposeSVGSize;
            @include forLargeScreens(700) {
                width: $purposeSVGSizeLarge;
                height: $purposeSVGSizeLarge;
            }
            margin: .5em;
            float: left;
        }
        figure > svg {
            width: 100%;
            height: 100%;
            filter: drop-shadow(6px 6px 1px rgba(149,133,87,1));
        }
        div:nth-of-type(odd) {
            align-self: flex-start;
        }
        div:nth-of-type(even) {
            align-self: flex-end;
        }
        &-who,
        &-what,
        &-why {
            max-width: 500px;
        }
        header {
            clear: both;
        }
    }
    &-title {
        font-weight: bold;
        font-size: 1.1em;
        background: #c1b79a;
        margin: 0;
        color: #786b49;
        padding: 0 0 0 4px;
        border-radius: 6px;
        border: 1px solid #beb598;
    }
}

strong {
    color: #dbd0b0;
    padding: 0 4px;
    background: #333333;
}

//
// Experiment article
//

.experiments-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    > * {
        flex: 1 1 50%;
    }
}

.experiment {
    &-container {
        padding: 0;
        border-radius: 10px 10px 0 0;
        border: 1px solid #a39f9c;
        background: #c1b79a;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2px;
        max-width: 1400px;
        display: flex;
    }
    &-container > section {
        padding: 0;
    }
    &-container > section.experiment-header {
        padding: 2px 12px;
    }
    &-container > section > ul {
        padding: 0 0 0 1em;
    }
    &-header {
        background: #333;
        border-radius: 10px 10px 0 0;
        line-height: 2;
        color: #ddd;
        flex: 2 2 100%;
        h1 {
            font-size: 1.2rem;
            //font-family: Palatino,"Palatino Linotype", serif;
            margin: 0;
        }
    }
    &-resources {
        &-container {
            list-style: none;
        }
    }
    &-results {
        display: flex;
        > ul {
            list-style: none;
            display: inline-flex;
            flex-direction: row;
            padding: 0;
            vertical-align: bottom;
            > li {
                margin-right: 2px;
                padding: 0 4px;
                text-decoration: underline;
                border-right: 1px solid $fontColor;
            }
            > li:last-of-type {
                border-right: none;
            }
        }
    }
    &-content, &-resources {
        flex: 2 2 100%;
        @include forLargeScreens(768) {
            flex: 1 50%;
        }
    }
    &-results, &-tags {
        flex: 2 2 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    &-tags {
        > ul {
            list-style: none;
            padding: 0;
            display: inline-block;
            vertical-align: bottom;
            > li {
                background-color: #d7b61b;
                float: left;
                padding: 4px;
                margin: 2px 2px 0 0;
                line-height: 1;
                font-style: italic;
                font-size: 0.9em;
                color: #333;
                font-weight: bold;            
            }
        }
        ::after {
            content: "";
            display: block;
            clear: both;
        }
    }
    &-section-title {
        margin: 0;
        font-weight: bold;
        padding: 0.25em 0.5em;
        background: #b4aa8f;
    }
    &-section-icon {
        margin-right: 0.25em;
    }
}

.filter-experiments-container {
    max-width: 800px;
    width: 100%;
}
@import "brainfuel.scss";
