{
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        useBuiltIns: 'usage'
      }
    ]
  ]
}
